<%- include("header") %>

<h1>Добавить данные пациента</h1>
<link rel="stylesheet" href="/assets/css/measurements.css">
<form method="post" action="/private/save_patient">
    <label for="name">Имя:</label><br>
    <input type="text" id="name" name="name" required value="<%= typeof name !== 'undefined' ? name : '' %>"><br><br>

    <label for="surname">Фамилия:</label><br>
    <input type="text" id="surname" name="surname" required value="<%= typeof surname !== 'undefined' ? surname : '' %>"><br><br>

    <label for="gender">Пол:</label><br>
    <select id="gender" name="gender" required>
        <option value="">Выберите пол</option>
        <option value="Мужской" <%- (typeof gender !== 'undefined' && gender === 'Мужской') ? 'selected' : '' %>>Мужской</option>
        <option value="Женский" <%- (typeof gender !== 'undefined' && gender === 'Женский') ? 'selected' : '' %>>Женский</option>
    </select><br><br>

    <label for="date_of_birth">Дата рождения:</label><br>
    <input type="date" id="date_of_birth" name="date_of_birth" required value="<%- typeof date_of_birth !== 'undefined' ? date_of_birth : '' %>"><br><br>

    <label for="phone">Номер телефона:</label><br>
    <input type="tel" id="phone" name="phone" required pattern="\+?\d{10,15}" value="<%- typeof phone !== 'undefined' ? phone : '' %>"><br><br>

    <label for="email">Электронная почта:</label><br>
    <input type="email" id="email" name="email" required value="<%- typeof email !== 'undefined' ? email : '' %>"><br><br>

    <label for="address">Адрес:</label><br>
    <textarea id="address" name="address" rows="3" cols="30"><%- typeof address !== 'undefined' ? address : '' %></textarea><br><br>

    <button type="submit">Сохранить</button>
</form>

<%- include("footer") %>